@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #43AFFC;
}

#search {
    font-size: 25px;
    padding: 10px;
    border-radius: 25px;
    border: none;
    outline: none;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 40px;
    color: #fff;
}